<!DOCTYPE html>
<html lang="en">

<!-- Include the head of the EJS. Contains the meta tags and stylesheet link -->
<%- include("../partials/head") %>

    <body class="d-flex flex-column min-vh-100">
        <!-- Include the header. Common style applies -->
        <%- include("../partials/navbar") %>

            <!-- ----------------------------------- BEGINNING OF THE BODY OF THE PAGE ----------------------------------------- -->

            <!-- --------------------------------------- END OF THE BODY OF THE PAGE ------------------------------------------- -->

            <!-- Include the footer. Common style applies -->
            <%- include("../partials/footer") %>

                <!-- Include the scripts-->
                <%- include("../partials/scripts") %>
    </body>

</html>