
<head>
    <meta charset="UTF-8">
    <!-- Viewport for proper responsive behavior in mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add the icon the browser tab -->
    <link rel="shortcut icon" type="image/x-icon" href="images/placement-hub-logo-catalina-blue.png">

    <!-- Website metadata -->
    <meta name="description" content="Placement EHub is a wonderful application that helps you plan your placement in the healthcare industry." />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Placement EHub" />
    <meta itemprop="description" content="Placement EHub allows you to plan your placement in the healthcare industry, through easing accomodation lookup, activities around the area and much more." />
    <meta itemprop="image" content="" /> <!-- TODO Add Placement EHub card -->

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="" /> <!-- TODO Add Placement EHub URL -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Placement EHub" />
    <meta property="og:description" content="Placement EHub allows you to plan your placement in the healthcare industry, through easing accomodation lookup, activities around the area and much more." />
    <meta property="og:image" content="" /> <!-- TODO Add Placement EHub card -->

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Placement EHub" />
    <meta name="twitter:description" content="Placement EHub allows you to plan your placement in the healthcare industry, through easing accommodation lookup, activities around the area and much more." />
    <meta name="twitter:image" content="" /> <!-- TODO Add Placement EHub card -->

    <!-- Include custom.css file, generated on Bootstrap with sass. -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

    <!-- Set the title of the page if given followed by EPlacement EHub -->
    <title> <%= (typeof title != "undefined" ? `${title} | ` : "") %> EPlacement EHub</title>
</head>